@import "tailwindcss";

@theme {
  --color-main: #0A2540;
  --color-fondos: #FBFCF8;
  --color-botones: #E67E22;
  --color-secundario: #85C1E9;
}
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@layer utilities {
/* Chrome, Safari, Opera */
.no-scrollbar::-webkit-scrollbar {
display: none;
}
/* IE, Edge, Firefox */
.no-scrollbar {
-ms-overflow-style: none; /* IE and Edge */
scrollbar-width: none; /* Firefox */
}
}